:root {
  --accent-color: #34547a;
  --heading-color: #000000;
  --text-color: #727272;
  --accent-text-color: #ffffff;
  --form-text-color: #5f5d5d;

  --bg-color: #eeeff1;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.big-heading,
.small-heading {
  font-weight: 500;
}

.big-heading {
  font-size: 2.5rem;
  line-height: 1.45;
  color: var(--heading-color);
  margin-bottom: 2.5rem;
}

.small-heading {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.text,
.btn {
  font-size: 1rem;
  line-height: 1.4;
}

.centered-text {
  text-align: center;
}

.text {
  font-weight: 400;
  color: var(--text-color);
}

.btn {
  background-color: var(--accent-color);
  border:none;
  color: var(--accent-text-color);
  letter-spacing: 0.1rem;
  padding: 25px 41px;
  margin-top: 2.5rem;
}

.container {
  margin: 0 auto;
}

.link {
  color: inherit;
  text-decoration: none;
}

/* планшети */
@media screen and (min-width: 576px) {
  :root {
    font-size: 15px;
  }

  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* комп'ютери */
@media screen and (min-width: 992px) {
  :root {
    font-size: 16px;
  }

  .container {
    max-width: 950px;
  }

  .small-heading {
    margin-bottom: 3rem;
  }

  .big-heading {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
