.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-block-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-text-header {
  font-size: 2rem;
  padding: 20px;
}
.form-text-parag {
  font-size: 1rem;
  font-weight: 500;
  width: 30rem;
  padding: 20px;
  opacity: 0.5;
  margin-bottom: 15px;
}

.form-block-input-value {
  display: flex;
  justify-content: space-between;
  width: 30rem;
}

.form-input {
  width: 45%;
  margin-bottom: 40px;
  height: 100%;
  padding: 1rem;
}

.form-placeholder-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30rem;
}
.form-placeholder {
  height: 10rem;
  margin-bottom: 3rem;
  padding: 1rem;
}
.form-btn {
  margin: 0 auto;
  width: 15rem;
  margin-bottom: 3rem;
  background-color: var(--accent-color);
  border: none;
  color: var(--accent-text-color);
  letter-spacing: 0.1rem;
  padding: 25px 41px;
  margin-top: 3rem;
}
